/* Background responsivo */
html { 
  background: url(https://wallpaperstock.net/wallpapers/thumbs1/33626wide.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.contenidoVisual {
  width: 100%;
  height: 385px;
}

.videoCentrado {
  display: flex;
  justify-content: center;
}

h2 {
  padding: 20px;
  text-align: center;
}

a {
  margin: 10px;
}